.button {
    padding: 7px 15px;
    border: none;
    font-size: 1.1em;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

.outline {
    border-color: blue;
    color: blue;
}
.outline:hover {
    background-color: blue;
    color: white;
}

.fill {
    border-color: blue;
    color: white;
    background-color: blue;
}
.fill:hover {
    background-color: darkblue;
    border-color: darkblue;
}

.flat {
    border-color: rgb(238, 238, 255);
    color: blue;
    background-color: rgb(238, 238, 255);
}
.flat:hover {
    background-color: lightblue;
    border-color: lightblue;
}

.error {
    border-color: rgb(230, 0, 0);
    color: white;
    background-color: rgb(230, 0, 0);
}
.error:hover {
    background-color: darkred;
    border-color: darkred;
}

.warn {
    border-color: rgb(255, 195, 0);
    color: white;
    background-color: rgb(255, 195, 0);
}
.warn:hover {
    background-color: rgb(204, 156, 0);
    border-color: rgb(204, 156, 0);
}

.success {
    border-color: #3ab93a;
    color: white;
    background-color: #3ab93a;
}
.success:hover {
    background-color: #237223;
    border-color: #237223;
}

.block {
    display: block;
}